@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 2.5em;
  text-align: center;
}

.box {
  min-height: 150px;
}

.dark_blue {
  background-image: url("/images/carbon-fiber-6.png");
  border-image: repeating-linear-gradient(30deg, #70706F, #7D7D7A, #8E8D8D, #A1A2A3, #B3B6B5, #BEC0C2 20px) 60;
  border-image-width: 3px;
  border-radius: 5px;
}

.light_blue {
  background-image: url("/images/carbon-fiber-8.png");
}

.green {
  background-color: #0C8542;
}

.lime {
  background-color: rgb(179, 210, 52);
}

.seafoam {
  background-color: rgb(77, 190, 161);
}

.red {
  background-color: #EC1D3B;
}

.orange {
  background-color: #F79420;
}